.slidershow {
  max-width: 20%;
  margin: auto;
  position: relative;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animation {
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.image {
  width: 100%;
}

.image img {
  width: 100%;
}

.arrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 20;
}

.arrows button {
  background: none;
  border: none;
  width: 7%;
}
