#game {
  /* display: grid;
  gap: 50px 100px;
  grid-template-columns: repeat(4, 20%); */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
    position: relative;
}
.front {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}