#game {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 700px;
  margin: auto;
}

.card {
    width: 150px;
    position: relative;
    padding: 1rem;
}

.front, .back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.front {
    width: 70%;
}
.back {
    width: 100%;
}